In [22]:
[i for i in range(50) if i % 2] # Prints the odd numbers, if I write i%2 ==0 then we will get even numbers

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [8]:
l = []
for i in range(13):
    l.append(i ** 2)
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [13]:
[i **2 for i in range(13)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [21]:
[i ** 2 for i in range(13) if i % 2]

[1, 9, 25, 49, 81, 121]

In [18]:
[(i, j) for i in range(3) for j in range(4)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3)]

In [23]:
val = -10
val if val>0 else -val

10

In [28]:
[val if val % 2 else -val for val in range(20) if val % 3]

[1, -2, -4, 5, 7, -8, -10, 11, 13, -14, -16, 17, 19]

In [31]:
[a % 3 for a in range(100)]

[0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0]

In [34]:
{a % 3 for a in range(100)}

{0, 1, 2}

In [41]:
I = iter([1, 2, 3, 4, 5])
print(I)
print(next(I))
print(next(I))
print(next(I))
print(next(I))
print(next(I))
print(next(I))

<list_iterator object at 0x00000115322A4490>
1
2
3
4
5

StopIteration:

In [45]:
rng = range(10)
print(rng)
print(iter(rng))

[i for i in rng]

range(0, 10)
<range_iterator object at 0x000001153274A530>

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
l = [2, 4, 6, 8, 10]
for i in range(len(l)):
    print(i, l[i])

0 2
1 4
2 6
3 8
4 10

In [50]:
l = [2, 4, 6, 8, 10]
for i, val in enumerate(l):
    print(i, val)

0 2
1 4
2 6
3 8
4 10

In [53]:
e = [2, 4, 6, 8, 10]
o = [1, 3, 5, 7, 9, 11, 13]
for i,j in zip(e,o):
    print(j, i)

1 2
3 4
5 6
7 8
9 10

In [56]:
doubler = lambda x : x * 2
[i for i in map(doubler, range(10))]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [58]:
even = lambda x : x % 2 == 0
[i for i in map(even, range(10))]

[True, False, True, False, True, False, True, False, True, False]

In [1]:
even = lambda x : x % 2 == 0
[i for i in filter(even, range(10))]

[0, 2, 4, 6, 8]

In [21]:
from more_itertools import tail
print(list(tail(2, [10, 20, 30, 40, 50])))

[40, 50]

In [22]:
import more_itertools
t = tail(3, 'ABCDEFG')
list(t)

['E', 'F', 'G']

In [23]:
import itertools
t = tail(3, 'ABCDEFG')
list(t)

['E', 'F', 'G']